html {
   scroll-behavior: smooth;
}

body {
   background-color: #F8F9FA;
   color: #393D3F;
}

h1 {
   font-family: 'Rock Salt', cursive;
}

/* body {
   background-color: linen;
   display: grid;
   margin: 0px;
   padding: 0px;
}

header {
   background-color: rebeccapurple;
   height: 4em;
   width: 100vw;
   margin: 0px;
   padding: 0px;
   padding-left: 1em;
   color: whitesmoke;
   text-decoration: none;
   display: grid;
   grid-template-columns: 50% 50%;
   align-content: center;
   opacity: 0.9;
   font-family: Arial, Helvetica, sans-serif;
}

header h1 {
   width: 50vw;
}

nav {
   justify-self: end;
   padding-right: 3vw;
}

ul li {
   list-style-type: none;
   display: inline-block;
   padding: 0.5em;
   font-size: 1.25em;
}

nav a:link {
   color: whitesmoke;
   background-color: transparent;
   text-decoration: none;
}

nav a:visited {
   color: whitesmoke;   
   background-color: transparent;
   text-decoration: none;
 }
 
nav a:hover {
   color: darkgray;
   background-color: transparent;
   text-decoration: none;
 }

a:link {
   color: rgb(88, 88, 88);
   text-decoration: none;
}

 a:visited {
    color: rgb(88, 88, 88);
    text-decoration: none;
 }

main {
    padding-left: 10vw;
    padding-right: 10vw;
    color: rgb(72, 72, 72);
    font-family: Arial, Helvetica, sans-serif;
 }

 #family-photo {
    padding-top: 4vw;
 }

 @media (max-width: 770px) {
    header {
      display: grid;
      grid-template-columns: 50% 50%;
      align-content: center;
      justify-content: center;
      height: 8em;
    }
    nav {
      align-content: center;
      justify-content: center;
    }
    ul li {
      list-style-type: none;
      padding: 0.3em;
      font-size: 1.25em;
   }
 } */