html {
   scroll-behavior: smooth;
}

body {
   background-color: #F8F9FA;
   color: #393D3F;
}

h1 {
   font-family: 'Rock Salt', cursive;
}

#katakeo-jumbotron {
   background-image: url("/img/Wittenberg_crop.jpeg");
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 0em 0em 40vh;
}